<br><br><h1>CONTACT</h1>

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post" class="text" id="contact">
	<div>
		<div><label for="email">Email*<br>
			<input name="email" id="email" type="email" placeholder="Your Email" required>
			</label>
		</div><br>
		<div><label for="subject">Subject*<br>
			<input name="subject" id="subject" type="subject" placeholder="Subject of Your Message" required>
			</label>
		</div><br>
		<div><label for="message">Message*<br>
			<textarea name="message" id="message" maxlength="250" type="message" placeholder="Your Message Goes Here (250 words max)" required></textarea>
			</label><br>
		</div>
		<button id="submit">Submit</button>
	</div>
</form>