<br><br><h1>Add Time Slots</h1>
<form action="/action.html">
  Day Of Week:
  <select name="dayOfWeek" id="dayOfWeek">
    <option value="0">Monday</option>
    <option value="1">Tuesday</option>
    <option value="2">Wednesday</option>
    <option value="3">Thursday</option>
    <option value="4">Friday</option>
    <option value="5">Saturday</option>
    <option value="6">Sunday</option>
  </select>
   <br>
  Time Of Day:
  <select name="timeOfDay" id="timeOfDay">
    <option value="0">Breakfast</option>
    <option value="1">Lunch</option>
    <option value="2">Dinner</option>
  </select>
   <br><br>
   	<input type="submit" value="Add Time Slots" id="addTimeSlots">
</form> 