<br><br><h1>Website</h1>
 <form>
  Food Truck:<br>
  <select class="styledSelect" name="foodtrucks" id="webpageFoodTruck">
    <option value="1">Food Truck 1</option>
    <option value="2">Food Truck 2</option>
    <option value="3">Food Truck 3</option>
    <option value="4">Food Truck 4</option>
  </select>
   <br><br>
  Website Link:<br>
  	<input type="text" name="lastname">
   <br><br>
   	<input type="submit" value="Add Website" id="addWebsite">
</form> 
<br><br>
Search for a food truck's Website:<br>
<form>
  Food Truck:<br>
  <select class="styledSelect" name="foodtrucks" id="foodtruckID">
    <option value="1">Food Truck 1</option>
    <option value="2">Food Truck 2</option>
    <option value="3">Food Truck 3</option>
    <option value="4">Food Truck 4</option>
  </select><br><br>
  <input type="submit" value="Search" id="search"><br>
</form>