<!doctype html>
<html>
<head>
	<title>Food Trucks of Boston</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<!-- 	{{#each jsscripts}}
		<script src="/{{this}}"></script>
	{{/each}} -->
	<script type="text/javascript" src="tools.js"></script>
</head>
<body>
	<div id="container">
	<div id="navBar" class="text"><ul>
		<li><a href="/">Home</a></li>
		<li><a href="/addtruck">Add Food Trucks</a></li>
		<li><a href="/timeslot">Time Slots</a></li>
		<li><a href="/location">Locations</a></li>
		<li><a href="/truckschedule">Truck Schedule</a></li>
		<li><a href="/website">Website</a></li>
		<!-- <li><a href="/contact">CONTACT</a></li> -->
	</ul></div>
	{{{body}}}
	</div>
</body>
</html>