<!doctype html>
<html>
<head>
	<title>Food Trucks of Boston</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="container">
	<div id="navBar" class="text"><ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul></div>
	{{{body}}}
	</div>
</body>
</html>



